


body{
    width: 100vw;
    margin:0;
    padding:0; 
    overflow-x: hidden;

}



a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active{
    text-decoration: none;
    color: black;
  }



.grid{
display:grid; 
width:100vw; 
height:100vh; 
grid-template-columns: repeat(6, 1fr);
overflow:hidden;

}

.containerOne{
    grid-column-start:1 ;
    grid-column-end: 5;
    display:grid; 
    width:100%;
    height:100rem; 
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}


.containerTwo{
    grid-column-start: 5;
    grid-column-end: 7;
    display:grid; 
    width:100%;
    height:100vh; 
    overflow-x: hidden;
    margin:0;
    padding:0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}

.containerTwo::-webkit-scrollbar {
    display: none;
}


.One{
    display:block; 
    position:relative;
    width: 550px; 
    height:750px;
    grid-column-start:3;
    grid-column-end:10;
    grid-row-start:2;
    grid-row-end:7;
}


#bioPhoto{
    display:block; 
    position:relative;
    width: 100%; 
    height:100%;

}


/* .imageContainer1{
    display: block;
} */

#contactOne{
    top:1rem; 
    display:none; 
    position: relative;
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#contactTwo{
    top:1rem; 
    display:block; 
    position: relative;
    grid-column-start:6;
    grid-column-end:7;
    grid-row-start:7;
    grid-row-end:9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.resumeOne{
    top:1rem;
    display:none; 
    position: relative;
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.resumeTwo{
    top:1rem;
    height:30px;
    display:block; 
    position: relative;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:7;
    grid-row-end:7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



#brenResume{
    color:red; 
}

#home{
    display:block;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.title{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:6; 
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 5rem;
    font-family: bebas-neue-rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

.summaryOne{
    display:none;
    position: relative;
    grid-column-start: 3;
    grid-column-end:11; 
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

     
}

.summaryTwo{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:11; 
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
}



.return{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid black;
    width:90px; 
    height:25px;
    transition-duration: ease-in-out, 4s;
    cursor:pointer;
    transition-timing-function: ease-in-out 1s;
    z-index: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.return:hover{
    background-color: white;
}


@media screen and (max-width: 1024px){

    


body{
    width: 100vw;
    margin:0;
    padding:0; 
    overflow-x: hidden;

}



 a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active{
    text-decoration: none;
    color: black;
  }



.grid{
    display:grid; 
    width:100vw; 
    height:100vh; 
    grid-template-columns: repeat(6, 1fr);
    overflow:hidden;

}

.containerOne{
    grid-column-start:1 ;
    grid-column-end: 5;
    display:grid; 
    width:100%;
    height:100rem; 
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}


.containerTwo{
    grid-column-start: 5;
    grid-column-end: 7;
    display:grid; 
    width:100%;
    height:100vh; 
    overflow-x: hidden;
    margin:0;
    padding:0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}

.containerTwo::-webkit-scrollbar {
    display: none;
}


.One{
    display:block; 
    position:relative;
    width: 430px; 
    height:600px;
    grid-column-start:3;
    grid-column-end:10;
    grid-row-start:2;
    grid-row-end:7;
}


#bioPhoto{
    display:block; 
    position:relative;
    width: 100%; 
    height:100%;

}


/* .imageContainer1{
    display: block;
} */


#contactOne{
    top:1rem;
    display:none;  
    position: relative;
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:7;
    grid-row-end:9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


#contactTwo{
    top:1rem; 
    display:block; 
    position: relative;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:7;
    grid-row-end:9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.resumeOne{
    top:1rem;
    display:none; 
    position: relative;
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.resumeTwo{
    top:1rem;
    height:30px;
    display:block; 
    position: relative;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:7;
    grid-row-end:8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

#brenResume{
    color:red; 
}

#home{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.title{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:6; 
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 3.8rem;
    font-family: bebas-neue-rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

.summaryOne{
    display:none;
    position: relative;
    grid-column-start: 3;
    grid-column-end:11; 
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.summaryTwo{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:11; 
    grid-row-start: 6;
    grid-row-end: 7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.return{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid black;
    width:90px; 
    height:25px;
    transition-duration: ease-in-out, 4s;
    cursor:pointer;
    transition-timing-function:ease-in-out 1s;
}

.return:hover{
    background-color: white;
}






@media screen and (max-width: 768px){


    body{
        width: 100vw;
        margin:0;
        padding:0; 
        overflow-x: hidden;
    }
    
     a:link, a:visited {
        text-decoration: none;
        color: black;
      }
      
      a:hover, a:active{
        text-decoration: none;
        color: black;
      }
    
    
    
    .grid{
        display:grid; 
        width:100vw; 
        height:100vh; 
        grid-template-columns: repeat(6, 1fr);
        overflow:hidden;
    
    }
    
    .containerOne{
        grid-column-start:1 ;
        grid-column-end: 5;
        display:grid; 
        width:100%;
        height:100rem; 
        overflow-x: hidden;
        overflow-y: auto;
        margin:0;
        padding:0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        border: solid 1px black; 
        background-color: #F0F0F0;
    }
    
    
    .containerTwo{
        grid-column-start: 5;
        grid-column-end: 7;
        display:grid; 
        width:100%;
        height:100vh; 
        overflow-x: hidden;
        margin:0;
        padding:0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        border: solid 1px black; 
        background-color: #F0F0F0;
    }
    
    .containerTwo::-webkit-scrollbar {
        display: none;
    }
    
    
    .One{
        display:block; 
        position:relative;
        width: 350px; 
        height:560px;
        grid-column-start:3;
        grid-column-end:10;
        grid-row-start:2;
        grid-row-end:7;
    }
    
    
    #bioPhoto{
        display:block; 
        position:relative;
        width: 100%; 
        height:100%;
    
    }


    /* .imageContainer1{
        display: block;
    } */
    
    #contactOne{
        top:1rem; 
        display:none; 
        position: relative;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:7;
        grid-row-end:9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }


    #contactTwo{
        top:1rem; 
        display:block;
        position: relative;
        grid-column-start:5;
        grid-column-end:6;
        grid-row-start:7;
        grid-row-end:9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }


    
    .resumeOne{
        top:1rem;
        display:none; 
        position: relative;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:4;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .resumeTwo{
        top:1rem;
        height:30px;
        display:block; 
        position: relative;
        grid-column-start:3;
        grid-column-end:4;
        grid-row-start:7;
        grid-row-end:9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    #brenResume{
        color:red; 
    }
    
    #home{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 11;
    }
    
    
    .title{
        display:block;
        position: relative;
        grid-column-start: 3;
        grid-column-end:6; 
        grid-row-start: 3;
        grid-row-end: 5;
        font-size: 3rem;
        font-family: bebas-neue-rounded, sans-serif;
        font-style: normal;
        font-weight: 400;
        
        
    }
    
    .summaryOne{
        display:none;
        position: relative;
        grid-column-start: 3;
        grid-column-end:11; 
        grid-row-start: 6;
        grid-row-end: 7;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        
    }
    
    .summaryTwo{
        display:block;
        position: relative;
        grid-column-start: 3;
        grid-column-end:11; 
        grid-row-start: 6;
        grid-row-end: 7;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

       
    }
    
    
    
    .return{
        display:flex;
        flex-direction: row;
        justify-content: center;
        border:1px solid black;
        width:90px; 
        height:25px;
        transition-duration: ease-in-out, 4s;
        cursor:pointer;
        transition-timing-function:ease-in-out 1s;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    .return:hover{
        background-color: white;
    }
    

}
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 425px){


    body{
        width: 100vw;
        height:100vh; 
        margin:0;
        padding:0; 
        overflow-x: hidden;
    
    }
    
    
    
     a:link, a:visited {
        text-decoration: none;
        color: black;
      }
      
      a:hover, a:active{
        text-decoration: none;
        color: black;
      }
    
    
    
    .grid{
        display:grid; 
        width:100vw; 
        height:100vh; 
        grid-template-columns: repeat(6, 1fr);
        overflow:hidden;
    
    }
    
    .containerOne{
        grid-column-start:1 ;
        grid-column-end: 13;
        grid-row-start:2;
        grid-row-end:13; 
        display:grid; 
        width:100%;
        height:100%; 
        overflow-x: hidden;
        overflow-y: auto;
        margin:0;
        padding:0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
     
        background-color: #F0F0F0;
        border-color: #F0F0F0;
        
    }
        .containerTwo{
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 1;
            grid-row-end:2;
            display:grid; 
            width:100vw;
            height:60px; 
            overflow-x: hidden;
            margin:0;
            padding:0;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, 1fr);
            
            background-color: #F0F0F0;
            border-color:#F0F0F0;
            border-bottom-color:black;
        }
    
    .containerTwo::-webkit-scrollbar {
        display: none;
    }
    
    
    .One{
        display:block; 
        position: absolute;
        width: 200px; 
        height:280px;
        /* grid-column-start:3;
        grid-column-end:10;
        grid-row-start:7;
        grid-row-end:7; */
        top:23rem;
        left:4rem; 
    }
    
    
    #bioPhoto{
        display:block; 
        position:relative;
        width: 100%; 
        height:100%;
    }


    /* .imageContainer1{
        display: block;
        width: 100%;
        height:100%;
    } */

    .resumeOne{
       top:20px; 
        display:block; 
        position: relative;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:3;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .resumeTwo{
        top:1rem;
        display:none; 
        position: relative;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:7;
        grid-row-end:9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    #brenResume{
        color:red; 
    }
    
    #contactOne{
        top:20px; 
        display:block; 
        position: relative;
        grid-column-start:5;
        grid-column-end:6;
        grid-row-start:3;
        grid-row-end:3;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       

    }


    #contactTwo{
        top:1rem; 
        display:none;
        position: relative;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:7;
        grid-row-end:9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
    }
    
    #home{
        display: none;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 11;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    
    .title{
        display:block;
        position: relative;
        grid-column-start: 4;
        grid-column-end:12; 
        grid-row-start: 1;
        grid-row-end: 5;
        bottom:0.65rem;  
        left:1rem; 
        font-size: 2.2rem;
        font-family: bebas-neue-rounded, sans-serif;
         font-style: normal;
         font-weight: 400;
    
    }
    
    .summaryOne{
        display:block;
        position: relative;
        grid-column-start: 3;
        grid-column-end:11; 
        grid-row-start: 1;
        grid-row-end: 2;
        font-size:1.05rem; 
        line-height:1.5rem;
        top:1.5rem; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .summaryTwo{
        display:none;
        position: relative;
        grid-column-start: 3;
        grid-column-end:11; 
        grid-row-start: 6;
        grid-row-end: 7;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    
    
    .return{
        display:none;
        flex-direction: row;
        justify-content: center;
        border:1px solid black;
        width:90px; 
        height:25px;
        transition-duration: ease-in-out, 4s;
        cursor:pointer;
        transition-timing-function:ease-in-out 1s;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    .return:hover{
        background-color: white;
    }
    

}


