
body{
    width: 100vw;
    margin:0;
    padding:0; 
    overflow-x: hidden;
}

a{
    
}

a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active{
    text-decoration: none;
    color: black;
  }

.grid{
    display:grid; 
    width:100vw; 
    height:100vh; 
    grid-template-columns: repeat(6, 1fr);
    overflow:hidden;
}

.containerOne{
    grid-column-start:1 ;
    grid-column-end: 5;
    display:grid; 
    width:100%;
    height:100rem; 
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}


.containerTwo{
    grid-column-start: 5;
    grid-column-end: 7;
    display:grid; 
    width:100%;
    height:100vh; 
    overflow-x: hidden;
    margin:0;
    padding:0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px black; 
    background-color: #F0F0F0;
}

.containerTwo::-webkit-scrollbar {
    display: none;
}

.title{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:6; 
    grid-row-start: 2;
    grid-row-end: 5;
    font-size: 5rem;
    font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
    
}

.summary{
    display:block;
    position: relative;
    grid-column-start: 3;
    grid-column-end:10; 
    grid-row-start: 6;
    grid-row-end: 11;
    /* border:1px solid black;  */

}

.return{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid black;
    width:90px; 
    height:25px;
    transition-duration: ease-in-out, 4s;
    cursor:pointer;
    transition-timing-function: ease-in-out 1s;
}

.return:hover{
    background-color: white;
}

#home{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 11;
}

#enter{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 11;
}


.One{
    display:block;
    position: relative;
    width:600px;
    height:300px; 
    grid-column-start: 2;
    grid-column-end: 4;
    right:5rem;
    /* border:1px solid black; */
    margin: 50px 10px 10px 10px; 
}

.imageContainer1{
    display:block; 
    width: 500px; 
    height:300px; 

}

.Two{
    display:block;
    position: relative;
    width:100%;
    height: 100%; 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:2 ;
    grid-row-end:3;
    right:5rem;
    /* border:1px solid black;  */
     margin: 50px 10px 50px 10px; 
}

.imageContainer2{
display:block; 
    width: 500px; 
    height:300px; 

}

.Three{
    display:block;
    position: relative;
    width:100%;
    height: 100%; 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
    right:5rem;
    /* border:1px solid black;  */
    margin: 10px 10px 50px 10px; 
}

.imageContainer3{
    display:block; 
    width: 500px; 
    height:300px; 

}

.Four{
    display:block;
    position: relative;
    width:100%;
    height: 100%; 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:4;
    grid-row-end:5;
    right:5rem;
    /* border:1px solid black;  */
    margin: 10px;
}

.imageContainer4{
    display:block; 
    width: 500px; 
    height:300px; 

}


.endSpace{
    display:block;
    position: relative;
    width:300px;
    height: 900px; 
    grid-column-start: 2;
    grid-column-end: 4; 
}