
html{
    scroll-behavior: smooth;
}

a{
  text-decoration: none;  
}

#aboutPage{
    color:black
}

#about:hover{
    color: red;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active{
    text-decoration: none;
    color: black;
  }


body{
    display:block;
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y: hidden;
    width:100vw; 
    height:100vh;
    margin:0;
    padding:0;
    background-color: #F0F0F0;
}


.grid{
    position: relative;
    display:grid;
    margin:auto;
    overflow: hidden;
    padding:0;
    width:100%;
    height:60rem;
    /* width: calc(100% - 60px);  */
    /* border: solid black 1px; */
    grid-template-columns:repeat(12, 1fr); 
    grid-template-rows:repeat(8, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}


header{
    position: relative;
    /* border: solid 1px black;  */
    padding: 2rem 5rem;
    left:0;
    right: 0; 
    background: 0, 0; 
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end:1;
}

.navBar{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 0; 
    padding:0; 
    vertical-align: baseline;
}


.Name{
    display:inline;
    left:0;
    right:0; 
    margin:0;
    padding:0; 
    vertical-align: baseline;
    background:0,0; 
}

.About{
    
    display:inline;
    left:0;
    right:0; 
    margin:0;
    padding:0 0 0 76rem; 
    vertical-align: baseline;
    background:0,0; 
    transition:color ease-in-out 0.5s; 
}

.About:hover{
        color:red;

}
.One{
    position: relative;
    display:block; 
    width:350px;
    height:350px;
    /* border:solid black 1px; */
    background-color: #E3A141; 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
    left:4rem;
    transition-duration: 8s;
   
}

.One:hover{
    bottom:10px; 
}

#name{
    font-family: bebas-neue-rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
    color:#BEBEBE;
}

#about{
    font-family: bebas-neue-rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#linkOne{
   position: relative; 
    color:white; 
    font-size: 3rem;
    left:5rem; 
    top: 5rem;
    font-family: bebas-neue-rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#linkTwo{
    position: relative;
     font-size: 3rem;
     color:white; 
     left:3rem; 
     top: 3rem;
     font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
 }

 #linkThree{
    position: relative;
     font-size: 3rem;
     color:white; 
     left:2rem; 
     top: 3rem;
     font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
 }

 #linkFour{
    position: relative;
     font-size: 3rem;
     color:white; 
     left:3rem; 
     top: 3rem;
     font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
 }

 #linkFive{
    position: relative;
     font-size: 3rem;
     color:white; 
     left:3rem; 
     top: 3rem;
     font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
 }

 #linkSix{
    position: relative;
     font-size: 3rem;
     color:white; 
     left:4rem; 
     top: 3rem;
     font-family: bebas-neue-rounded, sans-serif;
     font-style: normal;
     font-weight: 400;
 }

.linkContainer{
    width:100%;
    height:100%;
}

.Two{
position: relative; 
display:block; 
width: 350px;
height: 350px; 
/* border: solid 1px black;  */
background-color: #8CCAE9; 
left:4rem; 
grid-column-start: 5; 
grid-column-end: 8;
grid-row-start: 2;
grid-row-end:3;
transition-duration: 8s;
cursor:pointer;
}

.Two:hover{
    bottom:10px; 
    
}

#linkTwo{

}



.Three{
    position: relative; 
    display:block; 
    width: 350px;
    height: 350px; 
    /* border: solid 1px black; */
    background-color: #AF7AC5; 
    grid-column-start: 8; 
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end:3;
    left:4rem;
    cursor:pointer; 
    transition-duration: 5s;
    
    }

    .Three:hover{
        /* animation-play-state: running; */
        bottom:10px;
    }

    #linkThree{


    }
/* 
   @keyframes begin {

    0% { bottom:0px  ;}

    50% { bottom:10px ;}

    100% { bottom:20px ;}

  } */


  .Four{
    position: relative; 
    display:block; 
    width: 350px;
    height: 350px; 
 
    /* border: solid 1px black; */
    background-color: #EC5050;  
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
    cursor:pointer; 
    left:4rem;
    transition-duration: 3s;
    }

     .Four:hover{
  
        bottom:10px; 
    } 

    #LinkFour{


    }

    .Five{
        position: relative; 
        display:block; 
        width: 350px;
        height: 350px; 
     
        /* border: solid 1px black;  */
        background-color: #86BC6D; 
        grid-column-start: 5; 
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end:4;
        left:4rem;
        cursor:pointer; 
        transition-duration: 3s;
    }

    .Five:hover{
        bottom:10px;
    }

    #linkFive{


    }

    .Six{
        position: relative; 
        display:block; 
        width: 350px;
        height: 350px; 
        /* border: solid 1px black;  */
        background-color:#6683CE; 
        grid-column-start: 8; 
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end:4;
        left:4rem;
        cursor:pointer; 
        transition-duration: 5s;
    }

    .Six:hover{
        bottom:10px;
    }


    #linkSix{


    }